/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.faq {
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.question:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.answer {
  margin-top: 15px;
  padding: 10px;
  background-color: #f8f9fa;
  border-left: 4px solid #007bff;
  border-radius: 5px;
} */

/* .main{
  display: flex;
  justify-content: center;
  list-style: none;
  margin : 0px ;
  gap: 20px;
}
.mainheading{
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 500px;
}
.main {
  display: none;
}

.main.show {
  display: block;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: #222;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0px;
    width: 50%;
    background: #222;
    padding: 20px 0;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }
}